@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
  height: 100vh;
  font-family: "Truculenta", sans-serif;
  background-color: #d8a787;
  display: flex;
  align-items: center;
  justify-content: center;
}
header{
  position: relative;
  width: 70%;
  height: 80%;
  background-color: #d8a787;
  box-shadow: 0px 0px 15px #917563;
  border-radius: 20px;
  display: flex;
}
header .left-side, .right-side{
  width: 70%;
  height: 100%;
  background-color: #1e1e1e;
  border-radius: 20px 40% 41% 20px;
}
header .right-side{
  width: 30%;
  border-radius: 47% 20px 20px 50%;
}
header .main_watch{
  position: absolute;
  right: 250px;
  height: 540px;
  width: 320px;
  top: 100px;
  filter: drop-shadow(0px 0px 5px #000);
}
header .left-side nav{
  width: 90%;
  height: 80px;
  /* border: 2px solid white; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding-left: 50px;
}
header .left-side nav h3 a{
  text-decoration: none;
  color: rgb(249, 58, 96);
  font-size: 30px;
  transition: .3s linear;
}
header .left-side nav h3 a:hover{
  color: #fff;
}
header .left-side nav ul{
  display: flex;
  gap: 50px;
}
header .left-side nav ul li{
  list-style: none;

}
header .left-side nav ul li a{
  text-decoration: none;
  color: coral;
  font-size: 25px;
  transition: .3s linear;
}
header .left-side nav ul li a:hover{
  color: #fff;
}
header .left-side section{
  height: 70%;
  width: 90%;
  /* border: 2px solid white; */
  display: flex;
  /* align-items: center; */

}
header .left-side section .lang{
  height: 100%;
  width: 50px;
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;

}
header .left-side section .lang a{
  text-decoration: none;
  color: coral;
  transform: rotate(-90deg);
  transition: .3s linear;
}
header .left-side section .lang a:hover{
  color: #fff;
}
header .left-side section .lang a:nth-child(2){
  color: coral;
}
header .left-side section .lang h3{
  transform: rotate(-90deg);
}
header .left-side section .brand_name{
  /* border: 2px solid white ; */
  height: 100%;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  margin-left: 50px;
}
header .left-side section .brand_name h1{
  font-size: 150px;
  font-weight: bolder;
  height: 33%;
}
header .left-side section .brand_name h1 a{
  text-decoration: none;
  color: #fff;
  transition: .3s linear;
}
header .left-side section .brand_name h1 a:hover{
  color: coral;
}
header .left-side section .brand_name svg{
  /* color: #000; */
  /* border: 1px solid #fff; */
  height: 33%px;
  width: 550px;
  padding-left: 80px;
}
header .left-side section .brand_name svg text{
  font-size: 150px;
  letter-spacing: 4px;
  font-weight: 700;
  fill: transparent;
  stroke: white;
  animation: effect 4s linear forwards;
}
@keyframes effect{
  0%{
    stroke-dasharray: 0 70%;
  }
  100%{
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 10%;
  }
}
header .left-side section .brand_name .price{
  color: white;
  height: 33%;
  /* border: 2px solid white; */
  width: 100%;
}
header .left-side section .brand_name .price h6{
  font-size: 35px;
  font-weight: 700;
}
header .left-side footer{
  height: 20%;
  width: 90%;
  /* border: 2px solid #fff; */
  margin: auto;
}
header .left-side footer .foot_bx{
  position: relative;
  height: 100%;
  color: rgb(167, 167, 167);
}
header .left-side footer .foot_bx h4{
  font-size: 20px;
  height: 30px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
header .left-side footer .foot_bx h4 i{
  margin-left: 10px;
}
header .left-side footer .wimg{
  /* border: 1px solid yellow; */
  height: 100px;
  display: flex;
  padding-left: 10%;
}
header .left-side footer .wimg img{
  position: absolute;
  height: 70%;
  width: 200px;
  box-shadow: 0px 0px 2px whitesmoke;
  border-radius: 30px;
  bottom: 10%;
  transition: 2.3s linear;
}
header .right-side{
  border: 1px solid white;
}
header .right-side ul{
  /* border: 1px solid white; */
  height: 10%;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}
header .right-side ul li{
  padding: 0px 0px 0px 30px;
}
header .right-side ul li a{
  text-decoration: none;
  color: rgb(167, 167, 167);
  font-size: 20px;
  font-weight: 500;
  transition: .3s linear;
}
header .right-side ul li a:hover{
  color: #fff;
}
header .right-side ul li:nth-child(2) a{
  position: relative;
  margin-left: 15px;
}
header .right-side ul li:nth-child(2) a::before{
  content: ' ';
  position: absolute ;
  width: 20px;
  height: 3px;
  background: rgb(167, 167, 167);
  right: 0;
  border-radius: 20px;
  top: -2px;
}
header .right-side ul li:nth-child(2) a::after{
  content: ' ';
  position: absolute ;
  width: 20px;
  height: 3px;
  background: rgb(167, 167, 167);
  right: 0;
  border-radius: 20px;
  top: 4px;
}
header .right-side section{
  position: relative;
  width: 90%;
  height: 70%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .right-side section .bx{
  width: 100px;
  height: 100px;
  /* border: 1px solid #fff; */
  border-radius: 20px;
  margin-top: 45px;
  box-shadow: inset 0px 1px 0px rgb(167, 167, 167),
  inset 0px -1px 0px rgb(167, 167, 167),
  inset 1px 0px 0px rgb(167, 167, 167),
  inset -1px 0px 0px rgb(167, 167, 167);
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
header .right-side section .bx::-webkit-scrollbar{
  display: none;
}
header .right-side section .bx .scroll_watch{
  min-width: 70px;
  height: 100px;
  margin: -2px 15px 0px 17px;
  cursor: pointer;
}
header .right-side section .btn_lr{
  position: absolute;
  border: none;
  outline: none;
  background: none;
  color: rgb(167, 167, 167);
  top: 38%;
  font-size: 30px;
  cursor: pointer;
}

header .right-side section .btn_lr:nth-child(2){ 
  transform: rotate(180deg);
  top: 64%;
  right: 18%;
}
header .right-side footer{
  width: 90%;
  height: 20%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 8px;
}
header .right-side footer h3{
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .right-side footer h3 span{
  font-size: 15px;
  margin: 0px 2px;
}
header .add_to_card{
  position: absolute;
  right: 27%;
  bottom: 5%;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
